.mapDiv {
  width: 100%;
  height: 100%; /* ✅ 필수 */
  border: 1px solid #ccc;
}

.mapContainer {
  /* flex: 1; */
  flex-grow: 1;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.center-marker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 500;
  width: 32px;
  height: 32px;
  /* background-image: url("https://maps.gstatic.com/mapfiles/ms2/micons/yellow-dot.png"); */
  background-image: url("../../../public/explore_nearby.png");
  background-size: contain;
  pointer-events: none;
}

.my-location-button {
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-color: white;
  border: 0px solid #aaa;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  font-size: 23px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .search-again-button {
  position: absolute;
  bottom: 30px;
  right: 100px;
  height: 50px;
  background: #fff;
  border: 1px solid #0076ff;
  color: #0076ff;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  cursor: pointer;
} */
.search-again-button {
  position: absolute;
  top: 16px;
  left: 60%;
  transform: translateX(-50%);
  z-index: 1000;
  background: #0076ff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s;
}

.search-again-button:hover {
  background: #005cd2;
}

.sidebar {
  flex: 0 0 8%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  /* position: absolute;
  top: 0;
  left: 0;
  width: 8%;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-top: 15px;

  z-index: 10;
  display: flex;
  flex-direction: column; */
}

.sidebar a {
  display: block;
  color: black;
  text-decoration: none;

  font-weight: 550;
  text-align: center;
  font-size: 16px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}
.sidebar a:hover {
  color: #80d6fb;
}

.sidebar a.active {
  background-color: #80d6fb;
  color: white;
}

a i {
  font-size: 35px;
  margin-bottom: 2px;
}

.loginbtn {
  font-size: 13px !important;
  background-color: #80d6fb;
  width: 60%;
  border-radius: 10px;
  color: white !important;
  height: 30px;
  padding: 0px !important;

  line-height: 30px;
}

button.loginbtn {
  margin-bottom: 10px;
}

.login-area {
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-bottom: 20px;
}

.loginbtn:hover {
  background-color: #ffd600 !important;
}

.user-info {
  font-size: 17px;
  word-wrap: break-word;
  padding: 10px;
  background-color: #80d6fb;
  color: white;
  margin-top: auto;
  padding-bottom: 20px;
}

.logout-btn {
  border: 0px;
  background-color: #80d6fb;
  color: white;
  padding-top: 5px;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    flex-direction: row; /* 가로로 */
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    padding-bottom: 0;
  }

  .sidebar .logo {
    position: fixed;
    right: 0px;
    top: 0px; /* 사이드바 위 */
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #eee;
    background-color: white;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    z-index: 1000;
  }

  .sidebar .logo img {
    width: 70px;
    height: 70px;
  }

  .sidebar a {
    font-size: 12px;
  }

  .sidebar i {
    font-size: 18px;
  }

  .sidebar a.active {
    background-color: transparent;
    color: #80d6fb;
  }

  .my-location-button {
    position: fixed;
    bottom: 260px; /* 패널 높이(320px) + 탭 높이(60px) + 여유(예: 10px) */
    right: 8px;
    width: 40px;
    height: 40px;
    background: white;
    z-index: 1000;
  }

  .my-location-button i {
    font-size: 20px;
  }

  .login-area {
    position: fixed;
    right: 10px;
    top: 12px; /* 사이드바 위 */

    padding: 0px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3000;
  }

  .user-info {
    position: fixed;
    right: 10px;
    top: 9px; /* 사이드바 위 */

    width: 60px;
    padding: 0px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3000;
    font-size: 12px;
    flex-direction: column;
    border-radius: 5px;
  }

  .logout-btn {
    font-size: 10px;
  }

  .login-area a {
    font-size: 10px !important;
    width: 40px;
  }

  .filter-panel {

    position: absolute;
    top: 100px !important;
    right: 8px !important;
    width:150px !important;



  }

  .filter-title{
    font-size:12px;

  }

  .filter-title label{
    font-size:10px !important;


  }

  .filter-group{
     padding:8px !important;
     height:44px;
     overflow-y: auto;
     margin-bottom: 10px !important;
     scrollbar-width: none;
  }

  .search-again-button {
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 16px;
  }

  .filter-group label {
    font-size: 11px;


  }

  .filter-group input[type="checkbox"] {
    width: 14px;         /* 체크박스 크기 */
    height: 14px;
    /* 체크박스 기본 크기 줄임 */
    vertical-align: middle;
  }
}
