.report-review-table {

  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 8px;
  height:70%;
}

.user-manage-table{

    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 8px;
    height:70%;

}

.report-review-table h2 {
  width:60%;
  margin:2% auto 5% auto;
  padding-bottom:4%;
  text-align:center;
  border-bottom:solid 1px #d3d3d3;


}

.accommodation-add-form h2{
  width:60%;
  margin:2% auto 5% auto;
  padding-bottom:4%;
  text-align:center;
  border-bottom:solid 1px #d3d3d3;
}

.table-box {
  width:60%;
  margin:auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height:80%;
  background-color: #fff;
  overflow-y: auto;

}

.user-table-box{
  width:60%;
  margin:auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height:80%;
  background-color: #fff;
  overflow-y: auto;


}
.table-name{
    width:90%;
    margin:10px auto 0px auto;
    font-weight:bold;
    font-size:20px;
    padding-bottom:10px;
    padding-top:10px;
}

.button-area{

    justify-content: flex-end;
    display: flex;

}

.user-manage-table h2{

    width:60%;
    margin:2% auto 5% auto;
    padding-bottom:4%;
    text-align:center;
    border-bottom:solid 1px #d3d3d3;

}

.button-area button{
    background-color:red;
    color:white;
    width:60px;
    height:30px;
    font-size:14px;
    margin-bottom:16px;
    margin-right:43.5px;




}

.report-table{

    margin: 10px auto 40px auto;
    width:90%;
    border-collapse: collapse;

}

.user-table{

    margin: 10px auto 40px auto;
    width:90%;
    border-collapse: collapse;
}

.report-table td{

    text-align:center;


}

.user-table td{

    text-align:center;
}

.report-table tr{

    border-bottom:1px solid #c0c0c0;


}

.user-table tr{

    border-bottom:1px solid #c0c0c0;


}

.add-area{

    width:60%;
    margin:0 auto;

}

button.delete-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.delete-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

 .admin_sidebar {
  flex: 0 0 8%;
  height: 100%;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width:8%;
}

.admin_sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  width:100%;
  font-weight: 550;
  text-align: center;
  font-size: 16px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.admin_sidebar a:hover {
  color: #80d6fb;
}

.admin_sidebar a.active {
  background-color: #80d6fb;
  color: white;
}

a i {
  font-size: 35px;
  margin-bottom: 2px;
}

.admin-content{

    position: absolute;
    left: 8%;
    top: 0px;
    width: 92%;
    background: white;
    padding-top: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    height: 100%;

}

.add-area{

        width: 60%;
        margin: auto;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        height: 80%;
        background-color: #fff;
        overflow-y: auto;

}


.accoset{

    margin: 10px 28px;

}

.accoset label{

    font-size:15px;
    width: 100px !important;
    display: inline-block;
    text-align:right;
    font-size: 13px;
    font-weight: 550;


}

.accoset input{

 width:70%;
 margin: 13px 11px;

}

input.inout{

    width:18% !important;


}

.add_button{

    display:flex;
    justify-content:center;



}

.add_button button{
     width: 30%;
     margin: 12px auto 30px auto;
     height: 30px;
     font-size: 15px;
     color: white;
     background-color: #80D6FB;
     border: none;
     border-radius: 10px;

}

.add_button button:hover{

    background: #FFD600;

}

