html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* .sidebar-section {
  width:100px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  z-index: 100;
} */

.route-maparea{

    min-width:100% !important;
}

