/* station.css */

.station-list-panel {
  flex: 0 0 340px;
  height: 100%;

  background: white;

  overflow-y: auto;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  border-radius:0px !important;

  /* position: absolute;
  left: 8%;
  top: 0px;
  width: 400px;
  background: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px; */
}

.station-card.selected {
  border-left: 4px solid #0076ff;
}

.station-list-panel h3 {
  font-size: 16px;
  margin:0px;
  border-bottom: 1px solid #ddd;
  padding:12px;
}

.station-list-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.station-list-card:hover {
  background-color: #eef6ff;
}

.station-list-card.selected {
  border-color: #007aff;
  background-color: #e6f0ff;
}

.station-detail-panel {
  animation: slide-up 0.3s ease;
}

.filter-panel {
  position: absolute;
  top: 30px;
  right: 50px;

  font-size: 14px;
  z-index: 1000;
  width: 200px;
}

.filter-group {
  margin-bottom: 16px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.filter-group label {
  display: block;
  margin: 4px 0;
}



@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {

  .station-list-panel {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;  /* ← 하단 탭(사이드바) 높이에 맞게 조정 */
    height: 150px; /* 원하는 패널 높이 고정 */
    z-index: 30;   /* 지도, 사이드바보다 위에 나오게 조정 */

    border-right: none;   /* 필요없으면 삭제 */
    border-top: 1px solid #ddd;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.12);
    border-radius: 18px 18px 0 0 !important;
    width:100%;

    /* 그 외 속성은 그대로 */
  }



.station-list-panel h3 {
  font-size: 14px;
  margin:0px;
  border-bottom: 1px solid #ddd;
  padding:8px;
}


.station-card {
    padding:8px !important;
}


.station-card  b{

    font-size: 14px;
}


}