/* station.css */

.station-list-panel {
  position: absolute;
  left: 8%; /* Sidebar 오른쪽으로 살짝 띄우기 */
  top: 0px;
  width: 300px;
  background: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 999;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.station-card.selected {
  border-left: 4px solid #0076ff;
}

.station-list-panel h3 {
  font-size: 16px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

.station-list-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.station-list-card:hover {
  background-color: #eef6ff;
}

.station-list-card.selected {
  border-color: #007aff;
  background-color: #e6f0ff;
}

.filter-panel {
  position: absolute;
  top: 30px;
  right: 50px;

  font-size: 14px;
  z-index: 1000;
  width: 200px;
}

.filter-group {
  margin-bottom: 16px;
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-weight: bold;
  margin-bottom: 8px;
}

.filter-group label {
  display: block;
  margin: 4px 0;
}



@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
